:root {
    font-size: 100%;

    /* Colors */

    --hue:159;
    --main-color:hsl(var(--hue), 36%, 57%);
    --squares-color:hsl(var(--hue), 65%, 88%);
    
}

body {
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
    background: #F9F9F9;
}

main {
    margin-top: 4.5rem;
}

.logo {
    color: #0F241D;
    text-decoration: none;
    font-size: 1.31rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.logo span {
    color: var(--main-color);
}

#header {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    display: flex;
    
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 4.5rem;
    z-index: 100;
    background: #F9F9F9;
    border-bottom: 1px solid #e4e4e4;
}

.menu {
    opacity: 0;
    visibility: hidden;
    width: 0;
}

.toggle {
    font-size: 1.75rem;
}

.toggle:hover{
    cursor: pointer;
}

.menu.show {
    opacity: 1;
    visibility: visible;

    background: white;

    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.menu.show ul {
   gap:4rem;
}

.menu.show ul li {
    text-align: center;
}

.menu ul li a {
    text-decoration: none;
    color: #0F241D;
    transition: color 0.2s;

    position: relative;
}

.menu ul li a:hover {
    color:var(--main-color);
}

.menu ul li a::after {
    content:'';
    width: 0%;
    height: 2px;
    background: var(--main-color);
    position:absolute;
    bottom: 0;
    left: 0;
    transition: width 0.2s;
}

.menu ul li a:hover::after {
    width: 100%;
}

.menu ~ .icon-close {
    visibility: hidden;
    opacity: 0;
}

.menu.show ~ div.icon-close {
    visibility: visible;
    opacity: 1;
    z-index: 2;

    position: absolute;
    top:1.5rem;
    right: 1.5rem;
}

.divider {
    display: block;
    background: linear-gradient(270deg, var(--main-color) 0%, rgba(204, 244, 230, 0.34) 100%);
    width: 100%;
    height: 0.04rem;
}

.divider-2 {
    display: block;
    background: linear-gradient(90deg, var(--main-color) 0%, rgba(204, 244, 230, 0.34) 100%);
    width: 100%;
    height: 0.04rem;
}

.container {
    width: 100%;
    box-sizing: border-box;
    padding: 4.56rem 0;
    overflow: hidden;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.home {
    text-align: center;
}

.section-title {
    font-size: 1.875rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 1.5em;
    padding: 0 1.5rem;
}

.align-left {
    align-self: flex-start;
}

.text p {
    font-size: 1rem;
    font-weight: 400;
    color: #767676;
    padding: 0 1.5rem;
    text-align: left;
}

.home .image {
    width: 100%;
    height: auto;
    position: relative;
    left: -9%;
}

.about .image {
    width: 100%;
    height: auto;
}

.image img {
    width: 100%;
    height: auto;
}

.home .image::before {
    content:'';
    width: 100%;
    height: 100%;
    background:  var(--squares-color);
    position:absolute;
    left: 16.7%;
    bottom: 16.8%;
    z-index: -1;
}

.about .image img {
    position: relative;
    top:-100%;
}

.about .image::before{
    content:'';
    width: 70%;
    height: 100%;
    background:  var(--squares-color);
    margin-bottom: 6%;
    display: block;
    z-index: 1;
}

.image img,
.home .image::before, 
.about .image::before
 {
    border-radius: 0.32rem;
}

.about {
    background-color: white;
}

.text {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1.5rem;
    align-items: center;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 50%;
    background: var(--main-color);
    border-radius:0.25rem ;
    text-decoration: none;
    color:white;
}

.cards {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.card {
    line-height: 1.5em;
    padding: 1rem 1.5rem;
    margin: .6rem 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: 70%;
    height:22rem;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 20%);
    border-bottom: .35rem solid var(--main-color);
}

.card .text h2 {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 1.5em;
    padding: 0 1.5rem;
}

.card .text p {
    text-align: center;
}

.icon {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-size: 5rem;
    color: var(--main-color);
}

